<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="page-background">
        @Html.Partial("_Sidebar")
        @Html.Partial("_Social")     
        <div id="render-body">
            @RenderBody()
        </div>
    </div>
</body>
</html>
