<content id="sidebar">
    <a id="sidebar-product">+ Product</a>
    <a id="sidebar-product-active">- Product</a>
     <p id="sidebar-product-content">@Html.ActionLink("All Products", "Index", "Products", null)</p>
    <br />
    <a id="sidebar-about-us"> + About Us</a>
    <a id="sidebar-about-us-active"> - About Us</a>
    <p id="sidebar-about-us-content">Lorem ipsum</p>
    <br />
    <a id="sidebar-contact"> + Contact</a>
    <a id="sidebar-contact-active"> - Contact</a>
    <p id="sidebar-contact-content">Lorem ipsum</p>
</content>