<content id="sidebar">
    <a id="sidebar-product">+ Product</a>
    <a id="sidebar-product-active">- Product</a>
     <span id="sidebar-product-content"><br />@Html.ActionLink("All Products", "Index", "Products", null)</span>
    <br />
    <a id="sidebar-about-us"> + About Us</a>
    <a id="sidebar-about-us-active"> - About Us</a>
    <span id="sidebar-about-us-content"><br />Lorem ipsum</span>
    <br />
    <a id="sidebar-contact"> + Contact</a>
    <a id="sidebar-contact-active"> - Contact</a>
    <span id="sidebar-contact-content"><br />Lorem ipsum</span>
</content>