<div id="social-buttons">
    <div class="social-button">
        <a id="email-button" href='mailto:admin@gummibearkingdom.com'>
            @@
        </a>
    </div>
    <div class="social-button">
        <a id="facebook-button" href='https://facebook.com/gummibearkingdom'>
            F
        </a>
    </div>
    <div class="social-button">
        <a id="ig-button" href='https://instagram.com/gummibearkingdom'>
            I
        </a>
    </div>
</div>