<div id="main-page-image-container" asp-controller="Products" asp-action="Index">
    <a id="bgimg-atag"href="/Products">
        <div id="bgimg">

        </div>
        <div id="bgimg-text">
            Gummi Bear Kingdom
        </div>
        <div id="bgimg-overlay">

        </div>
    </a>
</div>