@model GummiBearKingdom.Models.Product

<h1>Delete</h1>

<p>Are you sure you want to delete this product?</p>

<strong>@Model.Name</strong>

<form asp-controller="Products" asp-action="Delete" method="post">
    <input hidden asp-for="@Model.Id" />
    <button type="submit">Confirm Deletion</button>
</form>

@Html.ActionLink("Return to Product", "Details", new { id = Model.Id })