@model GummiBearKingdom.Models.Product

<h1 class="product-edit-header">Edit</h1>

<div class="edit-form-container">
    <form asp-controller="Products" asp-action="Edit" method="post">
        <div class="form-group">
            <label>Product Name</label>
            <input asp-for="Name" class="form-control" />

            <label>Description</label>
            <input asp-for="ProductDescription" maxlength="255" class="form-control" />

            <label>Cost</label>
            <input type="number" step="any" min="0" asp-for="Cost" class="form-control" />

            <label>Country of Origin</label>
            <input asp-for="CountryOfOrigin" class="form-control" />

            <button class="submit-button" type="submit">Update</button>
        </div>
    </form>
</div>


<a href="/Products" class="return-link">Return to Products</a>