@model GummiBearKingdom.Models.Product

<h1>Edit</h1>

<form asp-controller="Products" asp-action="Edit" method="post">
    <div class="form-group">
        <label>Product Name</label>
        <input asp-for="Name" class="form-control" />

        <label>Description</label>
        <input asp-for="ProductDescription" maxlength="255" class="form-control" />

        <label>Cost</label>
        <input range="number" asp-for="Cost" class="form-control" />

        <label>Country of Origin</label>
        <input asp-for="CountryOfOrigin" class="form-control" />

        <button type="submit">Update</button>
    </div>
</form>


@Html.ActionLink("Return to Products", "Index")